<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="helloWorldService" class="com.jeff.test.aop.HelloWorldServiceImpl">
        <property name="text" value="Hello World!"></property>
        <property name="outputService" ref="outputService"></property>
    </bean>

    <bean id="outputService" class="com.jeff.test.aop.OutputServiceImpl">
    </bean>

    <bean id="autoProxyCreator" class="com.jeff.aop.AspectJAwareAdvisorAutoProxyCreator"></bean>

    <bean id="timeInterceptor" class="com.jeff.test.TimerInterceptor"></bean>

    <bean id="aspectjAspect" class="com.jeff.aop.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="timeInterceptor"></property>
        <property name="expression" value="execution(* com.jeff.test.aop.*.*(..))"></property>
    </bean>

</beans>